<!DOCTYPE html>
<html>
  <head>
    <title>OAuth</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% if (success) { %>
      <h1>OAuth2 successfull!</h1>
      <a href="/events" >View upcoming events</a>
    <% } else { %>
      <h1>OAuth2 failed</h1>
    <% } %>

  </body>
</html>
